@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background-color: rgb(31 41 55);
  font-family: "Poppins", sans-serif;
}
.dpImg {
  width: 60%;
  filter: grayscale(60%);
}
#sw-js-blob-svg {
  filter: drop-shadow(0 0 20px #ff6f00);
  animation: glow 1s alternate infinite;
  width: 100%;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px #ff6f00);
  }
  100% {
    filter: drop-shadow(0 0 20px #ff6f00);
  }
}
.techRotate {
  animation: flip 5s forwards infinite;
  transition: transform 2s ease-in-out;
  transform-style: preserve-3d;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.wave {
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-name: hand-wave;
  display: inline-block;
  transform-origin: 70% 70%;
}
@keyframes hand-wave {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
